# Coding problems in Python

In [43]:
import json

class Tree:
    def __init__(self, data, left=None, right=None):
        self.data = data
        self.left = left
        self.right = right
    
    def __repr__(self):
        return str(self.__dict__)

In [4]:
# [-10,9,20,null,null,15,7]
test_tree = Tree(
    -10,
    Tree(9),
    Tree(20, Tree(15), Tree(7))
)

## Max path sum of binary tree

In [21]:
max_sum = 0

def max_gain(tree):
    if not tree:
        return 0
    global max_sum
    max_left_gain = max(0, max_gain(tree.left))
    max_right_gain = max(0, max_gain(tree.right))
    new_max = tree.data + max_left_gain + max_right_gain
    max_sum = max(max_sum, new_max)
    return tree.data + max(max_left_gain, max_right_gain)

def max_path_sum(tree):
    global max_sum
    max_sum = 0
    max_gain(tree)
    return max_sum

max_path_sum(test_tree)

42

## Min sum binary tree path

## Construct a binary tree if pre-order and in-order given

In [46]:
def util(preorder, inorder, preorder_index, inorder_left, inorder_right):
    if preorder_index >= len(preorder) or inorder_left > inorder_right or inorder_right >= len(inorder):
        return None
    
    for i in range(inorder_left, inorder_right+1):
        if inorder[i] == preorder[preorder_index]:
            break
    
    return Tree(
        preorder[preorder_index],
        util(preorder, inorder, preorder_index + 1, inorder_left, i-1),
        util(preorder, inorder, preorder_index + (i - inorder_left + 1), i+1, inorder_right)
    )

def build_pre_in(preorder, inorder):
    return util(preorder, inorder, 0, 0, len(inorder)-1)

# preorder = [3,9,20,15,7], inorder = [9,3,15,20,7]
build_pre_in([3,9,20,15,7], [9,3,15,20,7])

{'data': 3, 'left': {'data': 9, 'left': None, 'right': None}, 'right': {'data': 20, 'left': {'data': 15, 'left': None, 'right': None}, 'right': {'data': 7, 'left': None, 'right': None}}}

In [196]:
import pandas as pd
import numpy as np

m = ['A', 'B', 'C', 'D', 'E']

rand_camapaign_vectorizer = np.vectorize(lambda x: m[x])
random_campaigns = rand_camapaign_vectorizer(np.random.randint(1, 5, 50))

df = pd.DataFrame({"VIN": np.random.randint(1, 11, 50),
                   "Campaign Name": random_campaigns,
                   "Success": np.random.randint(0, 2, 50)})

# df
df[df['Success'] == 1].groupby(['Campaign Name', 'VIN'], as_index=False).nunique()

   Campaign Name  VIN  Success
0              B    2        1
1              B    3        1
2              B    6        1
3              B    7        1
4              B   10        1
5              C    2        1
6              C    3        1
7              C    5        1
8              C    7        1
9              C    9        1
10             C   10        1
11             D    1        1
12             D    6        1
13             E    2        1
14             E    3        1
15             E    4        1
16             E    6        1
17             E    7        1
18             E    8        1

In [1]:
from datetime import datetime

In [12]:
d = datetime.fromisoformat('2022-03-07')

In [13]:
d

datetime.datetime(2022, 3, 7, 0, 0)

In [14]:
from datetime import timedelta

delta = timedelta(days=270)

In [15]:
d - delta

datetime.datetime(2021, 6, 10, 0, 0)